		<table class = "nav_bar">
			<tr>
				<td class = "label"> HOME </td>
				<td class = "label"> | </td> 
				<td class = "label"> ELIGIBILITY FAQ </td>
				<td class = "label"> | </td>
				<td class = "label"> CLAIMS FAQ </td>
				<td class = "label"> | </td>
				<td class = "label"> SICK LEAVE FAQ </td>
				<td class = "label"> | </td>
				<td class = "label"> PENSION FAQ </td>
			</tr>
		</table>